<md-card class="widget sales-performance">
  <md-card-title>
    <md-card-title-text layout="row">
      <span class="md-headline" flex>Sales Performance</span>
      <md-select class="md-accent" ng-model="salesPerformanceWidgetVm.activeDateRange" ng-change="salesPerformanceWidgetVm.updateDateRange()" aria-label="Select date range">
        <md-option class="md-accent" ng-repeat="dateRange in salesPerformanceWidgetVm.dateRanges" ng-value="dateRange">{{dateRange}} days ago</md-option>
      </md-select>
    </md-card-title-text>
  </md-card-title>
  <div class="general-details" layout="row" layout-align="end center" layout-wrap>
    <div class="stat" ng-repeat="stat in salesPerformanceWidgetVm.stats">
      <div class="md-caption stat-label">{{stat.label}}</div>
      <div class="md-headline stat-value">{{stat.value | currency}}</div>
    </div>
  </div>
  <highchart id="sales-performance-widget-chart-{{$id}}" config="salesPerformanceWidgetVm.chartConfig"></highchart>
</md-card>
