<div class="md-padding widget-container">
  <revenue-widget></revenue-widget>
  <sales-performance-widget></sales-performance-widget>
  <revenue-widget></revenue-widget>
  <revenue-widget></revenue-widget>
  <revenue-widget></revenue-widget>
  <revenue-widget></revenue-widget>
  <revenue-widget></revenue-widget>
  <revenue-widget></revenue-widget>
  <revenue-widget></revenue-widget>
  <revenue-widget></revenue-widget>
  <revenue-widget></revenue-widget>
  <revenue-widget></revenue-widget>
</div>
