<md-toolbar class="md-whiteframe-2dp compact md-primary"
            md-colors="{ backgroundColor: '{{$state.current.data.pageColor ? topNavVm.currentTheme + '-' + $state.current.data.pageColor : topNavVm.currentTheme + '-primary'}}' }">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="menu" ng-click="topNavVm.toggleCompactMenu()">
      <md-icon>menu</md-icon>
      <md-tooltip>Menu</md-tooltip>
    </md-button>
    <h2 flex md-truncate>{{$state.current.data.pageTitle}}</h2>
    <md-menu>
      <md-button class="md-icon-button" aria-label="Notifications" ng-click="topNavVm.openNotificationsMenu($mdMenu, $event)">
        <md-icon>notifications</md-icon>
        <md-tooltip>Notifications</md-tooltip>
      </md-button>
      <md-menu-content width="4">
        <div layout-padding>
          <div>No one likes you.</div>
        </div>
      </md-menu-content>
    </md-menu>
    <md-button class="md-icon-button" ui-sref="root.settings" aria-label="Settings">
      <md-icon>settings</md-icon>
      <md-tooltip>Settings</md-tooltip>
    </md-button>
  </div>
</md-toolbar>
