<md-tabs md-dynamic-height>
  <md-tab label="Email" aria-label="Email">
    <md-content class="md-padding">
      <md-input-container class="md-block">
        <label>Email</label>
        <input ng-model="loginVm.email" name="email" required/>
      </md-input-container>
    </md-content>
  </md-tab>
  <md-tab label="Password" aria-label="Password" name="password" required>
    <md-content class="md-padding">
      <md-input-container class="md-block">
        <label>Password</label>
        <input ng-model="loginVm.password" name="email" required/>
      </md-input-container>
    </md-content>
  </md-tab>
</md-tabs>
