
.login-container {
  height: 100%;
  padding: $layout_unit;

  > md-card.login-card {
    $_user-icon-size: 64px;

    .login-fixed-header {
      padding: $layout-unit-lg $layout-unit-md 0;

      .user-icon {
        position: relative;

        md-progress-circular {
          bottom: 0;
          left: 0;
          margin: -5px;
          position: absolute;
          right: 0;
          top: 0;

          svg path {
            stroke-width: 4px;
          }
        }
      }

      .title-text {
        margin: 0 0 $layout-unit-lg;

        .greeting {
          //margin: $layout-unit 0 0;
        }
      }
    }

    //md-tabs,
    //md-tabs-content-wrapper,
    //md-tab-content > div {
    //  display: flex;
    //}
    //
    //md-tabs,
    //md-list {
    //  flex: 1;
    //}
    //
    //md-tabs-content-wrapper,
    //md-tab-content {
    //  width: 100%;
    //}
    //
    //md-tab-content > div {
    //  flex-direction: column;
    //}
    //
    //md-list {
    //  overflow-y: auto;
    //}
    //
    //.user-icon {
    //
    //  img {
    //    border-radius: 50%;
    //  }
    //}

    .additional-login-actions {
      margin: 0 0 $layout-unit-lg;
      text-align: center;

      .actions-title {
        margin: $layout-unit 0 $layout-unit-md;

        .login-actions {

          button {

          }
        }
      }
    }
    //
    //md-tabs {
    //
    //  md-tabs-wrapper {
    //    display: none !important;
    //  }
    //}
  }
}

.dark-mode-active {

  .login-container {

    > md-card.login-card {

      .user-icon {

        md-icon {
          background-color: $border-light__color;
        }
      }
    }
  }
}

@media(min-width: $screen_md) {

  .login-container {

    > md-card.login-card {
      width: 400px;
    }
  }
}
