
.login-container {
  height: 100%;
  padding: $layout_unit;
  
  .background-pattern {
    height: 100%;
    left: 0;
    opacity: .38;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
    
    svg {
      height: 100%;
      width: 100%;
    }
  }

  > md-card.login-card {
    $_user-icon-size: 64px;
    z-index: 1;
    
    .view-wrapper {
      display: table;
      overflow-x: hidden;
      position: relative;
      white-space: nowrap;
      min-width: 100%;
      
      > * {
        //display: table-cell;
        min-width: 100%;
      }
    }

    .login-fixed-header {
      padding: $layout-unit-lg $layout-unit-md $layout-unit-md;

      .user-icon {
        position: relative;

        md-progress-circular {
          bottom: 0;
          left: 0;
          margin: -5px;
          position: absolute;
          right: 0;
          top: 0;

          svg path {
            stroke-width: 4px;
          }
        }
      }

      .title-text {

        .greeting {
          //margin: $layout-unit 0 0;
        }
      }
    }

    //md-tabs,
    //md-tabs-content-wrapper,
    //md-tab-content > div {
    //  display: flex;
    //}
    //
    //md-tabs,
    //md-list {
    //  flex: 1;
    //}
    //
    //md-tabs-content-wrapper,
    //md-tab-content {
    //  width: 100%;
    //}
    //
    //md-tab-content > div {
    //  flex-direction: column;
    //}
    //
    //md-list {
    //  overflow-y: auto;
    //}
    //
    //.user-icon {
    //
    //  img {
    //    border-radius: 50%;
    //  }
    //}

    .additional-login-actions {
      margin: 0 0 $layout-unit-lg;
      text-align: center;

      .actions-title {
        margin: $layout-unit 0 $layout-unit-md;

        .login-actions {

          button {

          }
        }
      }
    }
    //
    //md-tabs {
    //
    //  md-tabs-wrapper {
    //    display: none !important;
    //  }
    //}
  }
}

.dark-mode-active {

  .login-container {

    > md-card.login-card {

      .user-icon {

        md-icon {
          background-color: $border-light__color;
        }
      }
    }
  }
}

@media(min-width: $screen_md) {

  .login-container {

    > md-card.login-card {
      width: 400px;
    }
  }
}
