
md-toolbar.compact {
  min-height: $toolbar-compact__height;

  .md-toolbar-tools {
    height: $toolbar-compact__height;
    max-height: $toolbar-compact__height;
  }

  &.md-default-theme {

    &:not(.md-menu-toolbar) md-icon {
      color: $dark-secondary__color;
      fill: $dark-secondary__color;
    }
  }
}

md-sidenav.side-navigation {
  border-right: 1px solid $border-dark__color;
  height: 100%;

  .nav-search {
    border-color: $border-dark__color;
    border-style: solid;
    border-width: 1px 0;
    padding: 0 $layout-unit-md;

    md-icon {
      margin-right: $layout-unit_xl;
    }

    input {
      background-color: transparent;
      border: none;
      line-height: 40px;
      outline: none;
    }
  }

  .no-nav-search {
    padding: $layout-unit-md;
    text-align: center;
  }

  .nav-header {
    cursor: pointer;
    height: $toolbar-compact__height;
    outline: none;
    padding: 0 $layout-unit_md;
    width: 100%;

    .profile-icon {
      border: 1px solid $border-dark__color;
      border-radius: 50%;
      height: 24px;
      margin: 0 $layout-unit_xl 0 0;
      width: 24px;
    }

    .nav-toolbar {
      cursor: pointer;
      outline: none;

      .user-details {
        line-height: normal;

        > * {
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .md-caption {
          line-height: 20px;
          opacity: .6;
        }
      }
    }

    md-icon.dropdown-indicator {
      margin: 0 0 0 $layout_unit_md;
    }
  }

  .md-nav-links {

    .md-button {
      border-radius: 0;
      display: block;
      line-height: $side-menu__menu-item__height;
      margin: 0 0;
      min-height: $side-menu__menu-item__height;
      padding: 0 $layout_unit_md;
      text-align: left;
      text-transform: capitalize;
      width: 100%;

      md-icon {
        margin: 0 $layout-unit_xl 0 0;
      }

      .md-ripple-container {
        border-radius: 0;
      }
    }
  }

  &.compact {

    .nav-search {
      display: none;
    }

    &:not(.md-closed):not(.md-locked-open) {
      box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);

      .nav-search {
        display: flex;
      }
    }

    &.md-closed,
    &.md-locked-open {
      display: block;
      max-width: $side-menu__compact__width;
      min-width: $side-menu__compact__width;
      overflow-x: hidden;
      text-align: center;
      transform: none;
      width: $side-menu__compact__width;

      .nav-toolbar,
      .md-nav-links span {
        display: none;
      }

      .nav-header {
        padding: 0 0;

        .profile-icon {
          display: block;
          margin: auto;
          padding: 0 0;
        }

        md-icon.dropdown-indicator {
          display: none;
          margin: 0 0;
        }
      }
    }
  }
}

.dark-mode-active {

  md-sidenav.side-navigation {

    .nav-search {

      input {
        color: $light-primary__color;
      }
    }

    .nav-header {
      color: $light-primary__color !important;

      .profile-icon {
        border: 1px solid $border-light__color;
      }
    }
  }
}

@media(min-width: $screen_lg) {

  .side-nav-container {
      z-index: 10;
  }
}
