<form name="loginFormPassword" ng-submit="passwordVm.signIn()" aria-label="Login form password">
  <md-card-content>
    <md-input-container class="md-block hide-error-spacer" md-is-error="loginVm.passwordInvalid" ng-keyup="loginVm.passwordInvalid = false">
      <label>Password</label>
      <input ng-model="passwordVm.password" name="email" type="password" md-autofocus focus-on="passwordVm.passwordFocus" required/>
    </md-input-container>
    <div class="additional-login-actions">
      <a class="actions-title md-caption" md-colors="{color: '{{passwordVm.currentTheme}}-accent-500'}" ng-click="">Forgot your password?</a>
    </div>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <md-button type="submit" class="md-accent md-raised" ng-disabled="loginFormPassword.$invalid">Sign in</md-button>
  </md-card-actions>
</form>
