<md-list>
  <md-list-item class="md-2-line" ng-repeat="user in signInOptionsVm.loginUserHistory" ng-click="signInOptionsVm.setUser(user)">
    <img ng-if="user.profileImage" ng-src="{{user.profileImage}}" class="md-avatar" />
    <md-icon ng-if="!user.profileImage" class="md-avatar-icon">person</md-icon>
    <div class="md-list-item-text">
      <h3> {{ user.firstName }} {{ user.lastName }} </h3>
      <p> {{ user.email }} </p>
    </div>
  </md-list-item>
  <md-list-item class="md-2-line" ng-click="signInOptionsVm.setUser()">
    <md-icon class="md-avatar-icon">person</md-icon>
    <div class="md-list-item-text">
      <h3>Use another account</h3>
    </div>
  </md-list-item>
</md-list>
<md-card-actions layout="row" layout-align="start center">
  <md-button ng-click="signInOptionsVm.goBack()" class="md-accent">Back</md-button>
</md-card-actions>
