<md-card class="widget weather">
  <md-card-title flex="none">
    <md-card-title-text layout="row">
      <span class="md-headline" flex>{{weatherVm.weather.location.city}}, {{weatherVm.weather.location.region}}</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content ng-if="weatherVm.forecast.length > 0">
    <p>
      {{weatherVm.weather.item.condition.date}}
      <br>
      {{weatherVm.weather.item.condition.text}}
    </p>
    <div flex layout="row" class="jumbo">
      <div flex="50" layout="row">
        <img
          ng-src="{{weatherVm.getIconUrl(weatherVm.weather.item.condition.code)}}"
          alt="">
        <h3>
          {{weatherVm.weather.item.condition.temp}}&deg;
          {{weatherVm.weather.units.temperature}}
        </h3>
      </div>
      <div flex="50" layout="column" class="condition">
        <span>
          <span class="label">Humidity:</span>
          {{weatherVm.weather.atmosphere.humidity}}%
        </span>
        <span>
          <span class="label">Wind:</span>
          {{weatherVm.weather.wind.speed}}&nbsp;
          {{weatherVm.weather.units.speed}}&nbsp;
          {{weatherVm.weather.wind.direction}}&deg;
        </span>
        <span>
          <span class="label">Sunrise:</span>
          {{weatherVm.weather.astronomy.sunrise}}
        </span>
        <span>
          <span class="label">Sunset:</span>
          {{weatherVm.weather.astronomy.sunset}}
        </span>
      </div>
    </div>
    <div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </md-card-content>
</md-card>
