<md-card class="widget weather">
  <md-card-title flex="none">
    <md-card-title-text layout="column">
      <div class="weather-headline md-headline" flex>{{weatherVm.weather.location.city}}, {{weatherVm.weather.location.region}}</div>
      <div class="md-body-1">{{weatherVm.getTimestamp(weatherVm.weather.item.condition.date) | date: 'longDate'}}, {{weatherVm.weather.item.condition.text}}</div>
    </md-card-title-text>
  </md-card-title>
  <md-card-content ng-if="weatherVm.forecast.length > 0" layout="column" flex>
    <div class="main-weather-stat" layout="row" flex>
      <h3 flex>
        <span class="temperature md-display-4">{{weatherVm.weather.item.condition.temp}}</span>
        <span class="unit md-display-3">&deg;{{weatherVm.weather.units.temperature}}</span>
      </h3>
      <img class="large-weather-icon"
        ng-src="{{weatherVm.getIconUrl(weatherVm.weather.item.condition.code)}}"
        alt="">
    </div>
    <div layout="column" flex>
      <!--<div flex="50" layout="column" class="condition">-->
        <div class="weather-stat" layout="row" layout-align="start center">
          <img src="../../../images/md-weather-iconset/weather-rain-day.png" />
          {{weatherVm.weather.atmosphere.humidity}}%
        </div>
        <div class="weather-stat" layout="row" layout-align="start center">
          <img src="../../../images/md-weather-iconset/weather-wind.png" />
          {{weatherVm.weather.wind.speed}} {{weatherVm.weather.units.speed}}&nbsp;{{weatherVm.weather.wind.direction}}&deg;
        </div>
        <!--<span>-->
          <!--<span class="label">Sunrise:</span>-->
          <!--{{weatherVm.weather.astronomy.sunrise}}-->
        <!--</span>-->
        <!--<span>-->
          <!--<span class="label">Sunset:</span>-->
          <!--{{weatherVm.weather.astronomy.sunset}}-->
        <!--</span>-->
      <!--</div>-->
    </div>
    <!--<div class="forecast" flex layout="column" layout-gt-xs="row">-->
      <!--<div layout="row" flex flex-gt-xs="16" layout-gt-xs="column" ng-repeat="forecast in weatherVm.forecast track by $index">-->
        <!--<div flex="20" flex-gt-xs="100" layout="column">-->
          <!--<h4>{{forecast.day}}</h4>-->
          <!--<img-->
            <!--ng-src="{{weatherVm.getIconUrl(forecast.code)}}"-->
            <!--alt="">-->
        <!--</div>-->
        <!--<div flex layout="column">-->
          <!--<span class="high">-->
            <!--<span class="label">High:</span>-->
            <!--{{forecast.high}}-->
          <!--</span>-->
          <!--<span class="low">-->
            <!--<span class="label">Low:</span>-->
            <!--{{forecast.low}}-->
          <!--</span>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </md-card-content>
</md-card>
