<md-card class="widget to-do-list">
  <md-card-title flex="none">
    <md-card-title-text layout="row">
      <span class="md-headline" flex>To Do</span>
      <md-button class="md-icon-button" ng-click="toDoListVm.addTask($event)" aria-label="add task">
        <md-icon>add</md-icon>
        <md-tooltip>Add task</md-tooltip>
      </md-button>
    </md-card-title-text>
  </md-card-title>
  <md-list ng-if="toDoListVm.getActiveTasks().length > 0" flex>
    <md-list-item ng-repeat="task in toDoListVm.tasks | filter: { isDeleted: '!true' } track by $index" class="md-2-line">
      <md-checkbox ng-model="task.isCompleted" aria-label="complete task" ng-click="$event.stopImmediatePropagation();toDoListVm.completeTask(task);"></md-checkbox>
      <div class="md-list-item-text" layout="column">
        <h3>{{ task.description }}</h3>
        <h4 md-colors="{color: '{{toDoListVm.currentTheme}}-primary-hue-2'}">{{ task.date | date: 'mediumDate' }}</h4>
      </div>
      <md-icon class="md-secondary" ng-click="toDoListVm.removeTask(task)" aria-label="remove task">delete</md-icon>
    </md-list-item>
  </md-list>
  <div class="empty-message" ng-if="toDoListVm.getActiveTasks().length === 0" layout="column" layout-align="center center" flex>
    <div class="layout-padding">
      <md-icon>playlist_add</md-icon>
      <div class="md-body-2 message-text">Nothing to do.</div>
    </div>
  </div>
</md-card>
