
.to-do-list {

  md-list {
    overflow-y: auto;
    overflow-x: hidden;

    .md-list-item-text {

      > * {
        white-space: normal !important;
      }
    }
  }
}

.add-task-dialog {
  min-width: 400px;

  .md-dialog-content {

    .fields {
      margin: $layout_unit_lg 0 0;
    }
  }
}
