.widget.weather {

  .jumbo {

    img {
      width: 60%;
      height: 100%;
    }

    .condition {

      span {
        font-size: .8rem;
      }

      span.label {
        color: $dark-secondary__color;
      }
    }
  }
}
