.widget.weather {

  .jumbo {

    img {
      width: 60%;
      height: 100%;
    }

    .condition {

      span {
        font-size: .8rem;
      }

      span.label {
        color: $dark-secondary__color;
      }
    }
  }

  .forecast {

    h4 {
      margin: .25rem auto;
    }

    img {
      width: 100%;
    }

    span.low {
      margin: .25rem auto auto auto;
      color: $dark-secondary__color;
    }

    span.high {
      margin: auto auto .24rem auto;
    }
  }
}

@media screen and (min-width: $screen_xs) {

  .widget.weather {

    .jumbo {

      span.temperature {
        font-size: 2rem;
      }
    }

    .forecast {

      span.label {
        display: none;
      }
    }
  }
}
