.widget {
  height: 100%;
  overflow: hidden;
  width: 100%;

  &.micro-widget {
    min-height: 112px;
    position: relative;

    md-card-title {

      md-card-title-text {
        width: 100%;

        > span{
          margin: 0 48px 0 0;
        }
      }
    }

    highchart {
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
    }
  }

  .trending-indicator {
    position: absolute;
    right: 0;
    top: $layout_unit;

    md-icon {
      font-size: 16px;
      line-height: inherit;
    }
  }
}

