<md-sidenav class="side-navigation" md-component-id="side-nav-left" md-is-locked-open="$mdMedia('gt-md')" ng-class="{'compact': sideNavVm.isCompact}">
  <md-menu md-position-mode="target-right target">
    <div class="nav-header" ng-click="sideNavVm.openUserMenu($mdMenu, $event)">
      <img class="profile-icon" ng-src="{{sideNavVm.profileImage}}" />
      <div class="nav-toolbar md-body-2" layout="row" md-menu-origin>
        <div class="user-details" flex>
          <div class="name">{{sideNavVm.fullName}}</div>
          <div class="title md-body-1">{{sideNavVm.title}}</div>
        </div>
        <md-icon>arrow_drop_down</md-icon>
      </div>
    </div>
    <md-menu-content width="4">
      <md-menu-item>
        <md-button aria-label="profile">
          <md-icon>person</md-icon>
          Profile
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button aria-label="settings" ui-sref="root.settings">
          <md-icon>settings</md-icon>
          Settings
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button aria-label="sign out" ng-click="sideNavVm.signOut()">
          <md-icon>directions_walk</md-icon>
          Sign out
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
  <div class="md-nav-links">
    <div class="nav-search" layout="row">
      <md-icon>search</md-icon>
      <input class="md-body-1" ng-model="sideNavVm.navSearch" placeholder="Search" />
    </div>
    <div ng-if="filteredNavItems.length == 0" class="md-body-1 no-nav-search">Nothing looks like {{sideNavVm.navSearch}}.</div>
    <md-button ui-sref="{{menuItem.state}}"
               ng-repeat="menuItem in (filteredNavItems = (sideNavVm.menuItems | filter: sideNavVm.navSearch))""
               md-colors="{{sideNavVm.mdColorsAttrValue($state.current.name == menuItem.state, 'color', ( menuItem.activeColor || ( sideNavVm.currentTheme + '-accent' ) ))}}">
      <md-icon aria-label="{{menuItem.label}}"
               md-colors="{{sideNavVm.mdColorsAttrValue($state.current.name == menuItem.state, 'color', ( menuItem.activeColor || ( sideNavVm.currentTheme + '-accent' ) ))}}">{{menuItem.icon}}</md-icon>
      <span>{{menuItem.label}}</span>
      <md-tooltip ng-if="sideNavVm.isCompact" md-direction="right">{{menuItem.label}}</md-tooltip>
    </md-button>
  </div>
</md-sidenav>
