
$toolbar-compact__height: 56px;
$side-menu__menu-item__height: 48px;
$side-menu__compact__width: 56px;

$light-primary__color: rgb(255,255,255);
$light-secondary__color: rgba(255,255,255,.7);
$light-disabled__color: rgba(255,255,255,.3);
$light-inactive__color: rgba(255,255,255,.24);

$dark-primary__color: rgba(0,0,0,.87);
$dark-secondary__color: rgba(0,0,0,.54);
$dark-disabled__color: rgba(0,0,0,.38);
$dark-inactive__color: rgba(0,0,0,.24);
$border-dark__color: rgba(0,0,0,.12);

$layout_unit: 8px;
$layout_unit_xs: $layout_unit / 4;
$layout_unit_sm: $layout_unit / 2;
$layout_unit_md: $layout_unit * 2;
$layout_unit_lg: $layout_unit * 3;
$layout_unit_xl: $layout_unit * 4;

$screen_xs: 600px;
$screen_sm: 768px;
$screen_md: 960px;
$screen_lg: 1280px;
$screen_xl: 1920px;
